server:
  port: 8082

spring:
  application:
    name: manafoodorder

  datasource:
    url: jdbc:mysql://localhost:3308/manafood_order?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root123
    driver-class-name: com.mysql.cj.jdbc.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    naming:
      physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    globally_quoted_identifiers: true


# Logging para desenvolvimento
logging:
  level:
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    br.com.manafood: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

manafoodproduct:
  service:
    url: http://localhost:8081